<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body>
    <main class="h-screen flex justify-center items-center relative">
        <img src="/Logo.jpg" alt="Logo" class="w-[20vw]">
        <p class="absolute text-white bottom-0 right-0 pointer-events-none text-[clamp(2rem,5vw,10rem)]">Hidden Text</p>
    </main>
</body>

</html>