<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <link rel="stylesheet" href="/output.css">
    <style>
        .top-0 {
            display: none;
        }
    </style>
</head>

<body>
    <main class="h-screen flex justify-center items-center">
        <img src="/Logo.jpg" alt="Logo" class="w-[20vw]">
        <section class="absolute size-full">
            <p class="hidden pointer-events-none">Nice try! Find somewhere else</p>
            <div>
                <div>
                    <div>
                        <div>
                            <p class="hidden pointer-events-none">Sorry for such nesting!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <p class="hidden pointer-events-none">Bhool Bhulayia</p>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <p class="hidden pointer-events-none">I told you to not keep
                                                        clicking</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="hidden pointer-events-none">Pinky Promise not here</div>
                                <div>
                                    <div class="absolute top-0 right-1/2 hidden key pointer-events-none bg-green-700 px-4 py-2 rounded-3xl text-white my-5"
                                        data-secret="Click on it to get key, algorithms options, input-text in console">
                                        Click me
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </section>
    </main>
</body>
<script>
    document.querySelector(".key").addEventListener("click", () => {
        fetch('/key')
            .then(response => response.text())
            .then(scriptContent => {
                // const script = document.createElement('script');
                // script.innerHTML = scriptContent;
                // document.body.appendChild(script);
                // eval(scriptContent);
                console.log(scriptContent)
            });
    })
</script>

</html>