<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <link rel="stylesheet" href="/output.css">
    <style>
        button {
            display: none;
        }
    </style>
</head>

<body>
    <main class="h-screen flex justify-center items-center">
        <img src="/Logo.jpg" alt="Logo" class="w-[20vw]">
        <section class="absolute size-full">
            <div class="hidden pointer-events-none">Nice try! You're on the right track. Keep searching.</div>
            <div>
                <div>
                    <div>
                        <div>
                            <p class="hidden pointer-events-none">It's not here. I understand it's frustrating.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <p class="hidden pointer-events-none">
                                        Have you counted the number of clicks you've made?
                                    </p>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <p class="hidden pointer-events-none">
                                                        Stop clicking!!
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div class="hidden pointer-events-none">Pinky Promise key is not here!</div>
                                <div>
                                    <div>
                                        <div>
                                            <button
                                                class="absolute     top-0 right-1/2 hidden button pointer-events-none      bg-green-700 px-4 py-2 rounded-3xl text-white my-5"
                                                data-secret="Make the button visible on your screen and click on it to receive your next clue."
                                                onclick="LoadScript()">
                                                Hello!
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

<script>
    const LoadScript = () => {
        fetch('/key')
            .then(response => response.text())
            .then(scriptContent => {
                console.log(scriptContent)
            });
    }
</script>

</html>